@import "tailwindcss";

:root {
  /* Modo Claro */
  --background: #f4fbf8;
  --foreground: #0b241c;

  --primary: #2d9368;
  --secondary: #57cc99;
  --card: #ffffff;
  --input: #eaf5f0;
  --border: #c8dfd8;
}

.dark {
  /* Modo Oscuro */
  --background: #0b241c;
  --foreground: #a8b5b0;

  --primary: #57cc99;
  --secondary: #80ed99;
  --card: #143028;
  --input: #081a14;
  --border: #1d4034;
}

@theme inline {
  --color-background:   var(--background);
  --color-foreground:   var(--foreground);
  --color-pch-primary:  var(--primary);
  --color-pch-secondary:var(--secondary);
  --color-pch-card:     var(--card);
  --color-pch-input:    var(--input);
  --color-pch-border:   var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
